*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
.section1{
	background-image: linear-gradient(#800080,#ff1a75, #ffff1a);
}
.top-bar{
	padding: 20px;
}
.top-bar img{
	width: 80px;
	height: 80px;
}
.top-button{
	float: right;
}
.top-button a{
	margin: 10 8px;
	padding: 10px 20px;
	border:2px solid;
	border-radius: 50px;
	background: white;
	color: black;
	text-decoration: none;
}
.login-btn{
	background: white;
	color: black;
}
.signup-btn{
	background: white;
	color: black ;
}
.top-button a:hover{
	background: white;
	color: red;
}

.section1 h1{	
	color: white;
	font-size: 70px;
	font-weight: bold;
	margin-top: 12px;
	letter-spacing: 3px;
}
.section1 p{	
	color: black;
}
.section1 .container{	
	margin-top: 5%;
}
.start-btn{
	background: transparent;
	border: 2px solid black;
	color: black;
	width: 142px;
	height: 42px;
	margin-top: 30px;
	border-radius: 50px;
}

.home-img img{
	width: 75%;
	min-width: 350px;
	margin-top: 10%''
}
.section2{
	padding:30px 0;
	background: #e6e6e6;
}

.section2 img{
	width: 100%;
	height: 70%;
	border: 10px solid white;
}

.person-details{
	background: white;
}

.footer{
	padding: 30px 0 20px;
	background-image: linear-gradient(#800080,#ff1a75, #ffff1a);
}

.store-icon img{
	width: 100px;
	height: 80px;
}
.footer-menu a{
	display: inline-block;
	width: 120px;
	color: white;
	margin-bottom: 5px;
	font-size: 20px;
}
.footer p{
	color: white;
	font-size: 22px;
	font-weight: bold;
}