html,body{
	height: 100%;
}
body{
	margin:0;
	padding:0;
	background: linear-gradient(to left top, #b566ff, white);
}
.heading{
	text-align: center;
	color: #8f00b3;
	padding-top: 40px;
}
.calc{
	width: 250px;
	height: 400px;
	padding: 10px 20px;
	border-radius: 4px;
	border: 5px solid white;
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -70%);
}
.screen{
	width:100%;
	height:50px;
	padding:20px;
	margin: 10px 0px 20px 0px;
	font-size:20px;
	font-weight: bold;
	background:white;
	border-radius: 4px;
	border: 5px solid white;
	box-sizing: border-box;
}
.bn{
	width:55px;
	height:55px;
	padding:9px;
	margin: 2px;
	font-size:25px;
	font-weight: bold;
	background:none;
	border: 5px solid white;
	border-radius: 4px;
	color:black;
	font-size: 20px;
	outline: none;
	transition: 0.5s;
	cursor: pointer;
}
.bn:hover{
	transform:scale(1.08);
	transition: 0.5s;
}