body {
  background-image: url("background.jpg");
  margin:45px;
  border: 5px solid green;
  padding:45px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mainHeading{
	text-align: center;
	text-shadow: 3px 2px red;
	font-family: serif;
	font-size: 55px;
}
.listSquare{ 
	list-style-type: square;
	letter-spacing: 3px;
	font-weight: bold;
}
